<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        {% if error %}
        <h1>Error</h1>
        {% endif %}
    </div>
    <div>
        <table id="control-panel-template" class="table">
            <thead>
            <tr>
                <th>Control Panel - template</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href='\module\files\template_files\Template.xlsx'>Download file here</a></td>
            </tr>
            </tbody>
        </table>
    </div><br>
        <form enctype="multipart/form-data" action="/dashboard/upload_files" method="post">
            <div>
                <h4> <b>Upload control panel file: </b></h4>
                <p><input type="file" name="excelfile" accept=".xlsx, .xls"/></p>
            </div><br>
            <div>
                <h4> <b>Upload TWBX file: </b></h4>
                <p><input type="file" name="twbfile" accept=".twbx"/></p>
                <div class="col-3">
                    <select class="form-control" name="environment" id="environmentX">
                        <option selected>Environment</option>
                        <option value="prod">Prod</option>
                        <option value="test">Test</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" name="site" id="siteX">
                        <option selected>Site</option>
                        <option value="datagov">Data Governance</option>
                    </select>
                </div><br>
                <div class="col-3">
                    <input type="checkbox" id="refresh" name="refresh" value="1">
                    <label for="refresh">Refresh</label>
                </div><br>
                <input type="submit" id="proceed-xlsx-file" class="btn btn btn-primary" value="Proceed the files">
            </div>
        </form>
    </div>
</body>
</html>